<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Клиенты</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h1>Список клиентов</h1>
<table border="1">
    <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Роль</th>
        <th>Забронированные номера</th>
    </tr>
    <tr th:each="client : ${clients}">
        <td th:text="${client.name}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.phone}"></td>
        <td th:text="${client.bookedRooms}"></td>
    </tr>
</table>
</body>
</html>